.table tr:nth-child(even) {
    background: #ebf6f9;
    margin: 0px;
}

.table tr:nth-child(odd) {
    background: #e6ffff;
    margin: 0px;
}

.table {
	margin: 0px;
}

.title {
	font-size: 16px;
	background: #d8ecf3;
}